html, body, input, h1 {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
}

.app-container {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

h1 {
  font-size: 40px;
  padding: 50px;
}

.calculator-container {
  border: 2px solid black;
  border-radius: 10px;
  padding: 50px;
  width: 350px;
  font-size: 24px;
  background-color: lightgray; /* Old browsers */
    background: -moz-linear-gradient(top, #c4c7ce 0%, #9498a1 24%, #cdd0d7 50%,
      #74777c 79%, #6f7376 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c4c7ce 0%, #9498a1 24%, #cdd0d7 50%,
      #74777c 79%, #6f7376 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(top, #c4c7ce 0%, #9498a1 24%, #cdd0d7 50%,
      #74777c 79%, #6f7376 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c7ce',
      endColorstr='#6f7376',GradientType=0 ); /* IE6-9 */
  margin: auto;
}

.calculator-display {
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  width: 309px;
  text-align: right;
  padding: 25px 10px 23px 10px;
  margin: 0 10px 30px 10px ;
  height: 18px;
}

.button-row {
  display: flex;
}

.button, .zero-button {
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  width: 50px;
  padding: 23px 10px 17px 10px;
  margin: 10px;
  text-align: center;
  box-shadow: 2px 2px 2px 1px black;
  cursor: pointer;
  transition: 0.3s;
}

.button:last-child {
  background-color: #ffad33;
}

.zero-button {
  width: 148px;
}

.button:hover {
  background-color: #fff8dc;
  cursor: pointer;
  transition: 0.3s;
}

.button:last-child:hover {
  background-color: #ff9900;
}
